/.idea/.gitignore
/venv/*
*.js.gz
/scrappingApp/migrations/*
/data/mysql/*
/scrappingApp/.~lock.clean_data.csv#
/staticfiles/admin/*
/.idea/*
/scrappingApp/*.csv
dataScrapping/__pycache__/*
*/__pycache__/*
